{% extends 'ModeraModuleBundle::base.html.twig' %}

{% block title %}Maintenance{% endblock title %}

{% block body %}

<div>
    <h1>Maintenance</h1>
    <p>
        <strong>The server is temporarily down for maintenance</strong><br />
        The service needed to be locked to ensure data integrity during the update procedure<br />
        We will resume normal operations as soon as possible.
    </p>
</div>

{% endblock body %}
