@import 'compass';

.modera-backend-tools-activity-log-icon {
    background-image: url(../images/activity_log_32x32.png);
}
.modera-backend-tools-activity-grid {
    .message {
        padding-left: 16px;

        background-position: 5px center;
        background-repeat: no-repeat;

        &.emergency,
        &.alert,
        &.critical,
        &.error {
            color: red;
            background-image: url(../images/error_16x16.png);
        }

        &.warning {
            color: #dd9b3e;
            background-image: url(../images/warning_16x16.png);
        }
    }

    .x-field-toolbar {
        .x-form-text {
            height: 28px;
        }
    }
}